*{
    margin:0;
}
body{
    display:flex;
    justify-content: center;
}
.container{
    height:723px;
    width:568px;
    border:1px solid #e6e6e6;
    border-radius: 3px;
}
.header{
    background-color: #343a40;
    height:33px;
    width:568px;
    color:#fff;
    display:flex;
    text-align: center;
    line-height: 33px;
}
.icon__item{
    margin-right:20px;
    margin-left: 5px;
}
.content__item{
    display:flex;
    margin-top:54px;
    flex-direction: column;
    align-items: center;
    margin-left:50px;
    line-height: 30px;
    width:500px;    
}
.content-header{
    font-weight: 400px;
    font-size: 20px;
    color:#b08fa4;
}
.content-l{
    color:#b08fa4;
    text-align: center;
}
.btn{
    display:flex;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    gap:10px;
    margin-top:10px;
    margin-bottom:20px;
}
.btn__call{
    display:flex;
    justify-content: center;
    align-items: center;
}
.call {
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 30px; 
    width: 120px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
}
.secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    height: 30px; 
    width: 120px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
}
.box{
    width:554px;
    height:400px;
    flex-wrap: wrap;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:#f8f9fa;
    
}
.box1{
    width:160px;
    height:176px;
    margin-bottom:100px;
}
.thumbnail__content{
    background-color: #343a40;
    height:100px;
    width:158px;
    text-align: center;
    line-height: 100px;
    color:#fff;
    margin-bottom:10px;
}
.content{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    color:#a2a8a4;
}
.btn_thumbnail{
    display:flex;
    color:#a2a8a4;
}
.view__btn{
    color:#a2a8a4;
}
.edit__btn{
    color:#a2a8a4;
}
.mins{
    margin-left:20px;
}
.box2{
    width:160px;
    height:176px;
    margin-bottom:100px;
}
.box3{
    width:160px;
    height:176px;   
    margin-bottom:100px;
}